//Variables
@color: #333;
@colorBg: #ffffff;
@colorLight: lighten(@color, 70);

@fontSpecial: 'REVOLUTION', Helvetica, Arial, sans-serif;
@fontBasic: Helvetica, Arial, sans-serif;
@fontSize: 12px;
@fontSizeSmall: 10px;

@navigationSize: 180px;

//Mixins
.clearfix {
	*zoom: 1;
	display: block;

	&:before, &:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

.nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.quote {
	font-style: italic;
	&:before {
		content: "«";
	}
	&:after {
		content: "»";
	}
}

.transform(@args) {
	-webkit-transform: @args;
	-moz-transform: @args;
	-o-transform: @args;
	-ms-transform: @args;
	transform: @args;
}

.transition(@args) {
	-webkit-transition: @args;
	-moz-transition: @args;
	-o-transition: @args;
	-ms-transition: @args;
	transition: @args;
}

.box-sizing(@args) {
	-webkit-box-sizing: @args;
	-moz-box-sizing: @args;
	-o-box-sizing: @args;
	-ms-box-sizing: @args;
	box-sizing: @args;
}

.box-shadow(@args) {
	-webkit-box-shadow: @args;
	-moz-box-shadow: @args;
	-o-box-shadow: @args;
	-ms-box-shadow: @args;
	box-shadow: @args;
}

@font-face {
	font-family: REVOLUTION;
	src: url('../fonts/REVOLUTION.ttf'),
}

// Merkli Styles

html, body {
	.box-sizing(border-box);
	height: 100%;
	padding-bottom: 44px;
}

body {
	font-family: @fontBasic;
	font-size: @fontSize;
	line-height: 1.5;
}

p {
	color: @color;
	letter-spacing: 3px;
}

a {
	color: lighten(@color, 40);
	text-decoration: none;

	html.no-touch & {
		&:hover {
			color: @color;
			text-decoration: underline;
		}
	}
}

h1, h2, h3, h4 {
	font-family: @fontSpecial;
	letter-spacing: 1px;
}

h1 {
	font-size: 14px;

	@media (min-width: 400px) {
		font-size: 18px;
	}
}

h2 {
	font-size: 14px;
	margin-bottom: 20px;
}

h3 {
	font-size: 12px;
	margin: 10px 0 5px;
}

.header, .headline {
	.box-sizing(border-box);
	height: 42px;

	@media (min-width: 800px) {
		height: 140px;
	}
}

.headline {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: @colorBg;
	z-index: 1;
	padding: 12px 45px 0 12px;
	line-height: 20px;

	@media (min-width: 800px) {
		padding: 40px 0 0 40px;
	}
}

.toggleMenu {
	position: fixed;
	right: 0;
	top: 0;
	display: block;
	padding: 10px;
	z-index: 2;

	@media (min-width: 800px) {
		display: none;
	}

	.menu-opener {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url(../img/icon/menu.png);
		background-size: cover;
		vertical-align: top;
		.transition(400ms);
		.transform(translate3d(0, 0, 0));

		&.open {
			.transform(translate3d(20px, 0, 0));
		}
	}
}

.offCanvas {
	height: 100%;
	.transform(translate3d(0, 0, 0));
	.transition(200ms);


	&.active {
		.transform(translate3d(-@navigationSize, 0, 0));
		perspective: 1000;

	}
}


#navigation {
	.box-sizing(border-box);
	position: fixed;
	width: @navigationSize;
	right: 0;
	top: 40px;
	height: 100%;
	z-index: 1;
	background-color: @colorBg;
	.transform(translate3d(100%, 0, 0));

	@media (min-width: 800px) {
		background-color: @colorBg;
		top: 140px;
		right: auto;
		left: 0;
		.transform(translate3d(0, 0, 0));
		padding-top: 0;
	}

	.main-menu {
		padding: 0 40px;

		.main-menu-list {
			.menu-item {

				> a {
					display: block;
					padding: 3px 12px;
					font-family: @fontSpecial;
					line-height: 1.4;
					.transition(.4s);

					html.touch & {
						padding: 8px 12px;
					}
				}

				&.current-menu-item {
					> a {
						color: @color;
					}

					.sub-menu {
						display: block;
					}
				}
			}

			.sub-menu {
				margin-left: 12px;

				.menu-item > a {
					font-size: @fontSizeSmall;
				}
			}

			:not(.current-menu-parent) .sub-menu {
				display: none;
			}
		}
	}
}


.sheet {
	.box-sizing(border-box);
	margin: 0 auto;
	max-width: 1300px;

	@media (min-width: 430px) {
		padding: 8px;
	}

	@media (min-width: 800px) {
		padding: 0 50px 0 15px + @navigationSize;
	}
}

.gallery {
	.thumb {
		cursor: pointer;
		display: block;
		width: 100%;

		@media (min-width: 360px) {
			width: 50%;
		}

		@media (min-width: 616px) {
			width: 33.3%;
		}

		@media (min-width: 1030px) {
			width: 25%;
		}

		min-width: 180px;
		padding: 5px;
		.box-sizing(border-box);

		img {
			width: 100%;
			height: auto;
		}
	}
}

.preview {
	padding: 0 8px;

	@media (min-width: 800px) {
		padding: 0 12px;
	}

}

#navigationLinks {
	display: none;
}

.post {
	.post-content {

		.column {
			.box-sizing(border-box);
			padding: 5px;
			width: 100%;
		}

		.column2 {
			.column;

			@media (min-width: 600px) {
				width: 50%;
				float: left;
			}
		}

		.column3 {
			.column;

			@media (min-width: 800px) {
				float: left;
				width: 33.3%;
			}
		}

		img {
			.box-sizing(border-box);
			width: 50%;
			height: auto;

			&:first-child {
				padding-right: 30px;

				@media all and (max-width: 1024px) {
					padding-right: 15px;
				}
			}

			&:last-child {
				padding-left: 30px;

				@media all and (max-width: 1024px) {
					padding-left: 15px;
				}
			}

			&.one {
				width: 100%;
				padding: 0;
			}

		}

		video {
			width: 100% !important;
			height: auto !important;
		}
	}

	.caption {
		display: none;
		text-align: center;

		.category {
			display: inline;
			font-size: @fontSizeSmall;
		}
		.post-categories {
			font-size: @fontSizeSmall;
			display: inline;

			li {
				display: inline;
			}
		}
		.description p {
			display: inline;
		}
	}

}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .1;
	.transition(200ms);

	&:hover, &.hover {
		html.no-touch & {
			opacity: 1;
		}
	}

	&.arrow-left {
		background-image: url(../img/icon/left.png);
	}
	&.arrow-right {
		background-image: url(../img/icon/right.png);
	}
	&.info {
		background-image: url(../img/icon/info.png);
	}
	&.overview {
		background-image: url(../img/icon/overview.png);
	}
}

#currentCategory {
	display: none;
}

.galleryInteraction {
	display: none;
	background-color: @colorBg;
	.transition(200ms);

	body.single & {
		display: block;
	}

	&:not(.visible) {
		html.no-touch & {
			opacity: 0;
		}
	}

	@media (min-width: 800px) {

		.icon {
			opacity: .2;
		}

		.paginationPrev, .paginationNext {
			position: fixed;
			top: 0;
			height: 100%;
			padding: 0 10px;
			z-index: 1;

			&.arrow-left {
				left: 0;
			}
			&.arrow-right {
				right: 0;
			}
		}

		.showCaption{
			position: fixed;
			z-index: 2;
			top: 8px;
			right: 8px;
		}
	}

	@media (max-width: 799px) {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 44px;
		line-height: 44px;

		.icon {
			height: 100%;
			width: 33.3%;
			float: left;
		}
	}
}

.pageContact {
	text-align: center;

	.post {
		margin-bottom: 60px;
	}

	h2 {

	}
	h3 {
		margin: 35px 0 15px;
	}
}
